body {
    padding: 20px 0;
}
.trans:not(:first-child) {
    display: none;
}
.header {
    padding: 0 15px;
}
    .header h1 {
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 0;
    }
.logo-info {
    padding-top: 40px;
}